*{
    margin: 0 auto;
    padding: 0 auto;
}

.contenedor{
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 800px;
    display: flex;
    border: 5px solid lightpink;
    background-color: lightgray;
}

.izquierda{
    width: 45%;
}

.derecha{
    width: 45%;
}
.acomodar-izquierda{
    text-align: center;
}
.acomodar-derecha{
    text-align: center;
    height: 30%;
}
.botones{
    text-align: center;
    padding-bottom: 15px;
}
.pagoM{
    padding-top: 15px;
}

